h1 {
    padding-top: 10%;
    text-align: center;
}

form {
    display: inline-block;
}

#login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

body {
    background-image: url(./images/background.jpeg);
}

